{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>

<div class="container">

    <div class="top-bar">

    <div class="logo">
        📝 My Blog
    </div>

    <div class="user-area">

        {% if user.is_authenticated %}

            <span class="welcome">
                Welcome, {{ user.username }}
            </span>

            <a href="{% url 'create_post' %}" class="btn">
                + New Post
            </a>

            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="btn" type="submit">
                    Logout
                </button>
            </form>

        {% else %}

            <a class="btn" href="{% url 'login' %}">
                Login
            </a>

        {% endif %}

    </div>

</div>
    <header>
        <hr>
    </header>

    {% block content %}
    {% endblock %}

</div>

</body>
</html>