{% extends 'blog/base.html' %}

{% block title %}
Delete Post
{% endblock %}

{% block content %}

<div class="card">

    <h2>Delete Post</h2>

    <p>
        Are you sure you want to delete
        <strong>"{{ post.title }}"</strong>?
    </p>

    <form method="POST">

        {% csrf_token %}

        <button class="btn delete-btn" type="submit">
            🗑 Delete
        </button>

        <a class="btn cancel" href="{% url 'post_list' %}">
            Cancel
        </a>

    </form>

</div>

{% endblock %}