{% extends "blog/base.html" %}

{% block title %}
{% if object %}
    Edit Post
{% else %}
    Create Post
{% endif %}
{% endblock %}

{% block content %}

<div class="card">

    <h2>
        {% if object %}
            Edit Post
        {% else %}
            Create New Post
        {% endif %}
    </h2>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn" type="submit">
            {% if object %}
                Update Post
            {% else %}
                Create Post
            {% endif %}
        </button>

        <a class="btn cancel" href="{% url 'post_list' %}">
            Cancel
        </a>

    </form>

</div>

{% endblock %}