{% extends "blog/base.html" %}

{% block title %}
Posts
{% endblock %}

{% block content %}


{% for post in posts %}

<div class="card post-card">

    <h2>
        <a href="{% url 'post_detail' post.id %}">
            {{ post.title }}
        </a>
    </h2>

 <p class="meta">
    By {{ post.author.name }} |
    {{ post.published_on|date:"F d, Y" }}
</p>

    <p>
        {{ post.body|truncatewords:25 }}
    </p>

    <hr>

    <div class="button-group">

        <a href="{% url 'post_detail' post.id %}" class="btn view-btn">
            Read More
        </a>

        {% if user.is_authenticated %}
            <a href="{% url 'edit_post' post.id %}" class="btn edit-btn">
                Edit
            </a>

            <a href="{% url 'delete_post' post.id %}" class="btn delete-btn">
                Delete
            </a>
        {% endif %}

    </div>

</div>

{% empty %}

<p>No posts available.</p>

{% endfor %}

{% endblock %}